.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
    margin-right: 85px;
    align-items: center;
     
   } 

   .web {
    color: #2196F3;
  }  


   .logo2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: white;
    text-decoration: none;
    align-items: center;
    display: block;
    margin-bottom: 20px;
  
  & {
    display: inline-block;
    margin-bottom: 20px;
  }
}

  .logo-footer {
    padding-top: 60px;
  }