.client-list {
    padding: 94px;
}

.client-head {
    font-family: "Roboto";
    font-style: normal;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    text-align: center;

}

.client-main {
    list-style: none;
    display: flex;
    align-items: center;
}

.client-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: calc((100% - 30px * 5) /6);
    height: 90px;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 30px;
    }

    &:hover {
        border: 2px solid #2196F3;
    }

    &:hover {
            fill: #2196F3;
    }
}

.client-link {
    fill: #AFB1B8;
    vertical-align: middle;

  &:focus,
  &:hover {
    fill: #2196F3; 
  }
}


  